.app-background {
	min-height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

.app-background::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(rgba(0, 26, 38, 0.75),
			rgba(0, 26, 38, 0.9));
	z-index: 0;
}

.app-background>* {
	position: relative;
	z-index: 1;
}