nav(aria-label="Main navigation")
    ul
        li: a(href="/") Home
        li: a(href="/about") About 
        li: a(href="/admin/series") Series List
        li: a(href="/admin/companies") Company List