extends ../layout 

block layout-content 
    .container.mt-5
        h1.text-center.mb-4 Admin - companies details
        .d-flex.justify-content-end.mb-3
            a.btn.btn-primary(href="/admin/companies/add") Add new company
        table.table.table-striped.table-bordered.table-hover.align-middle
            thead.table-dark
                tr.text-center 
                    th Company ID 
                    th Company Name 
                    th(colspan="2") Actions
            tbody 
                each companies in menu 
                    tr.text-center
                        td #{companies.company_id}
                        td #{companies.name}
                        td 
                            form(method="get", action="/admin/companies/delete", class="d-inline")
                                input(type="hidden", name="companyID", value=companies._id)
                                button.btn.btn-danger.button(type="submit") Delete
                        td 
                            button.btn.btn-warning.btn-sm(href=`/admin/companies/edit?companyID=${companies._id}`) Edit