extends ../layout 

block layout-content 
    .container.my-5
        h1.text-center.mb-4 Add series details
        form(method="post", action="/admin/series/add/submit")
            .mb-3 
                label.form-label(for="series_id") Series ID: 
                input.form-control(type="number", id="series_id", name="series_id", placeholder="eg. 10")
            .mb-3 
                label.form-label(for="title") Series name: 
                input.form-control(type="text", id="title", name="title")
            .mb-3 
                label.form-label(for="company_id") Company ID: 
                input.form-control(type="number", id="company_id", name="company_id")
            .mb-3 
                label.form-label(for="year") Release year: 
                input.form-control(type="number", id="year", name="release_year", placeholder="eg. 2025")
            .mb-3 
                label.form-label(for="total_episodes") Total episodes: 
                input.form-control(type="number", id="total_episodes", name="total_episodes")
            .mb-3 
                label.form-label(for="rating") Series ID: 
                input.form-control(type="number", id="rating", name="imdb_rating", placeholder="eg. 8.0")
            button.btn.btn-success(type="submit") Add series