extends layout 

block layout-content 
    .container.text-center.my-5
        h1 Welcome to the Admin Page of the app! 
        p Click on the buttons in the navigation menu to continue
        p This was made using Express and Node.js